<h1 mat-dialog-title>Generate report</h1>
<div class="dialog" mat-dialog-content>
  <form [formGroup]="form">
    <mat-error *ngIf="error">
      {{error}}
    </mat-error>
    <mat-form-field class="full-width-input">
      <mat-label>Date from</mat-label>
      <input [matDatepicker]="dateFrom" formControlName="dateFrom" matInput required>
      <mat-datepicker-toggle [for]="dateFrom" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
      <mat-error>
        Please provide a valid date from
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <mat-label>Date to</mat-label>
      <input [matDatepicker]="dateTo" formControlName="dateTo" matInput required>
      <mat-datepicker-toggle [for]="dateTo" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
      <mat-error>
        Please provide a valid date to
      </mat-error>
    </mat-form-field>
    <mat-select formControlName="format">
      <mat-option [value]="'pdf'">PDF</mat-option>
      <mat-option [value]="'csv'">CSV</mat-option>
      <mat-option [value]="'xlsx'">XLSX</mat-option>
    </mat-select>
  </form>
  <div mat-dialog-actions>
    <button (click)="submit()" cdkFocusInitial color="primary" mat-button>Generate</button>
    <button (click)="cancel()" color="warn" mat-button>Cancel</button>
  </div>
</div>

