mat-toolbar {
  span {
    margin-left: 10px;
  }

  img {
    width: 40px;
  }
}

.content {
  table {
    width: 1400px;
  }

  padding-left: 20px;
  padding-top: 20px;
}

.button-group {
  .mat-raised-button {
    margin-right: 10px;
  }
}


